html,body{
    margin:0;
    height: 100%;
}

.container{
    display: flex;
    height: 100%;
    
    .container-left{
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        background-color: white;
        z-index: 2;
        
        nav{
            width: 100%;
            height:70px;
            display: flex;
            
            img{
                height: 50px;
                margin-top: 15px;
                width: auto;
            }
        }
    }
}
            
            ul{
                width:100%;
                display: flex;
                align-content: center;
                justify-content: space-evenly;
                font-family: 'Roboto', sans-serif;
                
                li{
                    list-style-type: none;
                    font-size: 25;
                    
                    li a:hover{
                        color:blue;
                    }
                    
                    li a{
                        text-decoration: none;
                        color: black;
                        
                    }
                }
            }
                
                li.active{
                    border-bottom: 2px solid;
                    color: blue;
                } 
                
                svg {
                    margin : 4px 20px 2px 20px;
                }
                
                section{
                    margin-left: 8%;
                    font-family: 'Roboto', sans-serif;
                    
                    .lapinator-title{
                        font-size: 50px;
                        margin-bottom: 10px;
                    }      
                    
                    .lorem{
                        font-size: 17px;
                    }
                    
                    
                    .mdp{
                        font-size: 12px;
                        margin-left: 30%;
                    }    
                }
                    
                    .radius{
                        height: 58px;
                        width: 150%;
                        margin: 10px;
                        background-color: white;
                        border-radius: 29px;
                        box-shadow: 0 2px 50px rgba(50,50,50,0.5);
                        
                        .form{
                            display: flex;
                            padding: 0;
                            height: 100%;
                            width: 110%;
                            
                            .input{
                                font-family: 'Roboto', sans-serif;
                                height: 58px;
                                margin: 0;
                                padding: 0;
                                border: none;
                                width: 80%;
                                font-size: 18px;
                                
                            }
                            
                            .input:focus{
                                background-color: lightgrey;
                                color: solid rgba(0, 0, 0, 0.39);
                            }
                            
                            .bouton{
                                background-color: #1fbbd4;
                                width: 150px;
                                height:40px;
                                margin-top: 10px;
                                padding: 10px 15px;
                                border: none;
                                color: white;
                                font-family: 'Roboto', sans-serif;
                                border-radius: 29px;
                                text-align: center;
                                
                            }
                        }
                    }
                    
                    
                    .container-right{
                        
                        display: flex;
                        flex: 2;
                        background-image: url('../image/Hamster.jpg');
                        background-size: cover;
                    }

                    // Media Queries

                    @media screen and (max-width: 765px) {
                        .container-left {
                            background-image : url("../image/group.svg");
                            background-size: cover;
                        
                            nav {
                                justify-content : space-between;
                    
                                .img {
                                    margin : auto 0;
                                    z-index: 2;
                                    background-color: #CCFFF4;
                                }
                        
                                ul {
                                    display : none;
                                }

                                svg {
                                    margin  : auto 0;
                                    display : flex;
                                    right   : 0;
                                    z-index: 2;
                                    background-color: #CCFFF4;
                                }
                    
                                .burger-mobile {
                                    z-index: 1;
                                    background-color : #fff;
                            
                                    display         : none;
                                    align-items     : center;
                                    justify-content : space-around;
                                    position        : fixed;
                                    margin-top      : 70px;
                                    width           : 100%;
                    
                                    ul {
                                        display         : flex;
                                        padding         : 0;
                                        justify-content : space-around;
                                        align-items     : center;
                                        flex-direction  : column;
                    
                                        li {
                                            margin         : 20px;
                                            text-transform : uppercase;
                                        }
                                    }
                                }
                            }
                    
                            section {
                                margin: 5%;

                                .lorem {
                                    display: flex;
                                    margin-bottom: 70px; 
                                    text-align: center;
                                
                                }
                    
                                .lapinator-title {
                                    text-align : center;
                                }
                    
                                .radius {
                                    margin        : 0%;
                                    width         : 100%;
                                    margin-bottom : 120px;

                                    input {
                                        width : 70%;
                                    }
                
                                    .bouton {
                                        margin : 30px auto;
                                    }

                                    .form {
                                        width     : 100%;
                                        height    : auto;
                                        display   : flex;
                                        flex-wrap : wrap;
                    
                                    }
                                }
                            }
                        }
                        .container-right {
                            display : none;
                        }
                    }

                    @media screen and (max-width: 410px) {
                        .container-left {
                            section {
                                .radius {
                                    .form {
                                        svg {
                                            display : flex;
                                            margin  : 4px 10px;
                                        }
                                        input {
                                            margin-left : 5px;
                                            font-size   : 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }